h1{
  font-size: 44px;
  margin-bottom: 20px;
}
.form {
  text-align: center;
  box-sizing: border-box;
  font-size: 28px;
  margin-top: 100px;
}

textarea, input{
  background-color: black;
  border: none;
  text-align: center;
  color:lightgrey;
}

button {
  background-color: #670202;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 100px;
  font-size: 24px;
}
button:hover {
  background-color: rgb(113, 113, 113);
  color: rgb(0, 0, 0);
}