<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="../static/about.css">
    <link rel="stylesheet" href="../static/index.css">
</head>

<body>
    <div class="bg">
        <div>
            <nav class="navigation">
                <span class="adjust">
                    <a img src="../static/assets/logo.png" alt="" class="logo" href="{{url_for('index')}}">
                        <img src="../static/assets/logo.png" alt="" class="logo">
                    </a>
                </span>
                <a href="{{url_for('index')}}"> Home</a>
                <a href="{{url_for('lost')}}"> Lost Items</a>
                <a href="{{url_for('borrowed')}}"> Borrowed Items</a>
                <a href="{{url_for('post')}}"> Report an Item</a>
                <a href="{{url_for('buy')}}"> Buy</a>
                <a href="{{url_for('sell')}}"> Sell</a>
                <a href="{{url_for('about')}}"> About</a>
            </nav>
        </div>
        <div class="head">
            <p>About</p>
        </div>
        <div class="text">
            <p>
                Welcome to our online community for IIIT students! We understand that students have busy lives, and
                sometimes things get lost or misplaced. That's why we created this website to help students find their
                lost items, borrow or buy items they need, and sell items they no longer need.
            </p>
            <p>
                Our community is made up of IIIT students, so you're bound to find something you need
                or want. Here are some of the features of our website
            </p>
            <p>
            <h3>
                Lost and Found
            </h3>

            If you've lost something on campus, don't worry! You can post a listing on our post page with a description
            of
            the item and imag if possible. Also if you came up with something around the campus that you
            think someone has lost, go ahead post it on the post page.
            </p>

            <p>
            <h3>
                Borrow
            </h3>

            If you need to borrow something for a short period of time, you can browse through our listings of items
            available for borrowing. Maybe you need a textbook for a class, or you need a bike to get around campus.
            Other students may have what you need and be willing to lend it to you.
            </p>

            <p>
            <h3>
                Sell
            </h3>

            If you have something you no longer need, you can post a listing on our website to sell it to other
            students. This is a great way to make some extra cash and help out your fellow students at the same time.
            You can list items such as textbooks, furniture, electronics, and more.
            </p>
            <br>
            <p>
                Our website is completely free to use, and we encourage you to join our community of college students.
                Whether you're looking for something specific, or you just want to browse through the listings, we're
                here to help. If you have any questions or concerns, please don't hesitate to contact us.
            </p>
        </div>
    </div>
    </div>

</body>
<footer>
    <hr style="width: 90%; margin-left: 5%; margin-right: 5%;">
    <p>Created for all your 404s by Archit Narwadkar, Shivam Singh, and Ashish Bharadwaj.</p>
    <p>Lost and Found © 2023</p>
</footer>
</html>