<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Page</title>
    <link rel="stylesheet" type="text/css" href="../static/post.css">
    <link rel="stylesheet" type="text/css" href="../static/index.css">
</head>

<body>
    <div class="bg">
        <div>
            <nav class="navigation">
                <span class="adjust">
                    <a img src="../static/assets/logo.png" alt="" class="logo" href="{{url_for('index')}}">
                        <img src="../static/assets/logo.png" alt="" class="logo">
                    </a>
                </span>
                <a href="{{url_for('index')}}"> Home</a>
                <a href="{{url_for('lost')}}"> Lost Items</a>
                <a href="{{url_for('borrowed')}}"> Borrowed Items</a>
                <a href="{{url_for('post')}}"> Report an Item</a>
                <a href="{{url_for('buy')}}"> Buy</a>
                <a href="{{url_for('sell')}}"> Sell</a>
                <a href="{{url_for('about')}}"> About</a>
            </nav>
        </div>
        <div class="form">
            <h1 class="head">Post the item you lost/found</h1>
            <form action="/upload_lost_item" method="POST" enctype="multipart/form-data">
                <input type="radio" name="lost-found" value="lost" id="lost-option">
                <label for="lost-option">Lost</label>
                <input type="radio" name="lost-found" id="found-option" value="found">
                <label for="found-option">Found</label><br><br>
                <label for="image">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Upload an image:</label>
                <input type="file" name="image" id="pic"><br><br>
                <label for="description">Description:</label>
                <textarea name="description" id="description" cols="30"
                    placeholder="Description"></textarea><br><br>
                <label for="poster-name">Enter your name:</label>
                <input type="text" name="poster_name" id="poster-name" placeholder="Name"><br><br>
                <label for="poster_email">Contact:</label>
                <input type="email" name="poster_email" id="poster_email" placeholder="Contact email"><br><br>
                <label for="location">Location:</label>
                <input type="text" name="location" id="location" placeholder="Location"><br><br>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</body>
<footer>
    <hr style="width: 90%; margin-left: 5%; margin-right: 5%;">
    <p>Created for all your 404s by Archit Narwadkar, Shivam Singh, and Ashish Bharadwaj.</p>
    <p>Lost and Found © 2023</p>
</footer>
</html>